<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="projectScaffolding"
                 type="ConsoleApp.Generator.API.Scaffolding.From.SQL.configuration.ProjectScaffoldingSection, ConsoleApp.Generator.API.Scaffolding.From.SQL"/>
	</configSections>
	<appSettings>
		<add key="companyName" value="ETG and Mitsui"/>
	</appSettings>
	<connectionStrings>
		<add name="fl360.db"
            connectionString="Data Source=.;Initial Catalog=fl360.db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>

	<projectScaffolding>
		<project name="jhb.fl360.api.gateway.mobile" projectType="api" description="farmers 360° link - Mobile API gateway project for receiving, accepting and routing all requests to backend services.  It acts as the single entry point (Front Door) and gathers the appropriate access data, business logic requested by any client." version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="true" usesAuthentication="true" apiPort="35360">
			<dataModels />
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.gateway.web" projectType="api" description="farmers 360° link - Web API gateway project for receiving, accepting and routing all requests to backend services.  It acts as the single entry point (Front Door) and gathers the appropriate access data, business logic requested by any client." version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="true" usesAuthentication="true" apiPort="35361">
			<dataModels />
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.authentication" projectType="api" description="farmers 360° link - API for authentication management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="false" usesAuthentication="true" apiPort="35362">
			<dataModels>
				<dataModel name="user" />
				<dataModel name="user_lock" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.user.management" projectType="api" description="farmers 360° link - API for user management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="false" usesAuthentication="true" apiPort="35363">
			<dataModels>
				<dataModel name="profile" />
				<dataModel name="profile_identification" />
				<dataModel name="profile_signature" />
				<dataModel name="user" />
				<dataModel name="user_lock" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.configuration.management" projectType="api" description="farmers 360° link - API for configuration management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="false" usesAuthentication="true" apiPort="35364">
			<dataModels>
				<dataModel name="application" />
				<dataModel name="application_configuration" />
				<dataModel name="application_endpoint" />
				<dataModel name="lookup_category" />
				<dataModel name="lookup_value" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.season.planning" projectType="api" description="farmers 360° link - API for season planning and management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="false" usesAuthentication="true" apiPort="35365">
			<dataModels>
				<dataModel name="organisation" />
				<dataModel name="province" />
				<dataModel name="season" />
				<dataModel name="province_season_target" />
				<dataModel name="zonal_office" />
				<dataModel name="zonal_office_office" />
				<dataModel name="village_head" />
				<dataModel name="village_head_season" />
				<dataModel name="village" />
				<dataModel name="village_season" />
				<dataModel name="route" />
				<dataModel name="route_season" />
				<dataModel name="collection_point" />
				<dataModel name="farm" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.contract.management" projectType="api" description="farmers 360° link - API for contract management and monitoring" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="false" usesAuthentication="true" apiPort="35366">
			<dataModels>
				<dataModel name="contract" />
				<dataModel name="contract_signature" />
				<dataModel name="contract_terms" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.task.management" projectType="api" description="farmers 360° link - API for task planning, management and monitoring" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="false" usesAuthentication="true" apiPort="35367">
			<dataModels>
				<dataModel name="task_scenario" />
				<dataModel name="task" />
				<dataModel name="task_scenario_task" />
				<dataModel name="task_item" />
				<dataModel name="form" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.incentive.management" projectType="api" description="farmers 360° link - API for incentive management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="true" isGateway="false" usesAuthentication="true" apiPort="35368">
			<dataModels>
				<dataModel name="profile_incentive" />
				<dataModel name="profile_loan_balance" />
				<dataModel name="profile_cash_balance" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.purchase.management" projectType="api" description="farmers 360° link - API for purchase management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="false" isGateway="false" usesAuthentication="true" apiPort="35369">
			<dataModels>
				<dataModel name="csi_unit_price" />
				<dataModel name="purchase_rate" />
				<dataModel name="crop_purchase" />
				<dataModel name="seed_cotton" />
				<dataModel name="seed_cotton_bag" />
				<dataModel name="lint_bale" />
				<dataModel name="wool_pack" />
				<dataModel name="loan_confirmation" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.performance.management" projectType="api" description="farmers 360° link - API for performance management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="false" isGateway="false" usesAuthentication="true" apiPort="35370">
			<dataModels />
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.ginnery" projectType="api" description="farmers 360° link - API for Ginnery management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="false" isGateway="false" usesAuthentication="true" apiPort="35371">
			<dataModels />
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.consumer.service" projectType="api" description="farmers 360° link - API for Consumer Service management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="false" isGateway="false" usesAuthentication="true" apiPort="35372">
			<dataModels />
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.client.service" projectType="api" description="farmers 360° link - API for Client Service management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="false" isGateway="false" usesAuthentication="true" apiPort="35373">
			<dataModels />
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
		<project name="jhb.fl360.api.audit.management" projectType="api" description="farmers 360° link - API for audit management" version="1.0.0" author="ETG and Mitsui" keywords="Farmers Link, FarmersLink, Farmer's Link, Farmers 360° Link, Farmers360Link, Farmer's 360° Link, FL, FL 360, FL-360, FL360, (FL360), F360L, farmers link, farmerslink, farmer's link, farmers 360° link, farmers360link, farmer's 360° link, fl, fl 360, fl-360, fl360, (fl360), f360l" environments="local, dev, stg, sit, uat, prod, dr" entryClass="app.js" githubAccount="fl360" licenseType="ISC" rootDirectory="C:\development\projects\fl360" enableSwagger="false" canUseMongoDb="false" canUseMsSqlDb="false" canUsePostgreSqlDb="true" isActive="false" isGateway="false" usesAuthentication="true" apiPort="35300">
			<dataModels>
				<dataModel name="entity" />
				<dataModel name="entity_relationship" />
				<dataModel name="entity_change_history" />
				<dataModel name="api_call_log" />
				<dataModel name="user_transaction" />
			</dataModels>
			<directories>
				<directory name="config" anchorDirectory="src">
					<directories>
						<directory name="environment" />
					</directories>				
				</directory>
				<directory name="constants" anchorDirectory="src" />
				<directory name="controllers" anchorDirectory="src" />
				<directory name="middleware" anchorDirectory="src">
					<directories>
						<directory name="database">
							<directories>
								<directory name="connection">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>
								<directory name="context">
									<directories>
										<directory name="mongodb" />
										<directory name="mssql" />
										<directory name="postgres" />
									</directories>
								</directory>								
							</directories>
						</directory>
						<directory name="logging" />
						<directory name="routing" />
					</directories>
				</directory>
				<directory name="models" anchorDirectory="src">
					<directories>
						<directory name="entities">
							<directories>
								<directory name="mongodb" />
								<directory name="mssql" />
								<directory name="postgres" />
							</directories>
						</directory>
					</directories>
				</directory>
				<directory name="routes" anchorDirectory="src">
					<directories>
						<directory name="@core" />
					</directories>
				</directory>
				<directory name="scripts" anchorDirectory="src" />
				<directory name="services" anchorDirectory="src" />
				<directory name="tests" anchorDirectory="src" />
				<directory name="utils" anchorDirectory="src">
					<directories>
						<directory name="db" />
						<directory name="general" />
					</directories>
				</directory>
				<directory name="validators" anchorDirectory="src" />
			</directories>
		</project>
	</projectScaffolding>
</configuration>